/* line 9, ../../app/assets/stylesheets/pages.css.scss */
#content {
  margin: 0 auto;
  background-color: red;
  width: 300px;
  -moz-border-radius-topright: 20px;
  -webkit-border-top-right-radius: 20px;
  -o-border-top-right-radius: 20px;
  -ms-border-top-right-radius: 20px;
  -khtml-border-top-right-radius: 20px;
  border-top-right-radius: 20px;
  -moz-border-radius-bottomright: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -o-border-bottom-right-radius: 20px;
  -ms-border-bottom-right-radius: 20px;
  -khtml-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
