<div id="introduction">
  <h2>Simple community application</h2>
  <h4>Features</h4>
  <ul>
    <li>Blogging</li>
    <li>Profile with a list of favorite bloggers</li>
    <li>Full text search in blogs</li> 
    <li>Search by tag list and tag cloud</li>
    <li>Search in selected blogs</li>
    <li>Messaging</li>
    <li>Comments with threading</li>
    <li>Admin panel</li>
  </ul>
</div>
  
